.chat-types{
    flex-basis: 5%;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    margin-inline: 3%;
}


.buttonNotClicked{
    background-color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 25px;
    border-color: #5908BF;
    cursor: pointer;
}


.buttonClicked {
    background-color: #5908BF;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

