.chat-types{
    flex-basis: 5%;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    margin-inline: 3%;
}


.buttonNotClicked{
    background-color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #b6b6b6;

}


.buttonClicked {
    background-color: #5908BF;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #b6b6b6;
}

@media (max-width: 800px) {
    .chat-types {
        margin: 10px;
    }
}