
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

.events-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}


.events-header {
  font-size: 40px;
  font-weight: bold;
  padding-top: 80px;
  padding-left: 80px;
}



.info-header{
  font-size: 40px;
  color: purple;
  padding-top: 60px;
  padding-left: 50px;
  margin-bottom: 30px;
}

.label-text {
  font-size: 25px;
  padding-top: 30px;
  padding-left: 50px;
}

.input-textbox {
    width: 80%;
    padding: 12px 15px;
    margin-top: 10px;
    margin-left: 50px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 50px;
}

.events-map {
  width: 100%;
  height: 400px;
}
.create-eventt-button-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px;
  height: 100%;;
}
.create-eventt-button{
  width: 446px;
  height: 80px;
  border-radius: 20px;
  background: #5908BF;
  color: white;
  text-align: center; 
  line-height: 80px;
  box-sizing: border-box; 

}

  
 