
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.events-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px; 
  width: calc(100% - 40px); 
  max-width: 400px; 
  height: auto; 
}

.events-header, .info-header {
  padding-left: 20px; 
  padding-right: 20px;
  color:#5908BF;
}
.label-text,.events-header{
  color:black;
  padding-left: 20px;
  padding-right: 20px;
}

.events-header, .info-header {
  font-size: 2.5rem; 
  padding-top: 20px; 
}

.label-text {
  font-size: 1.5rem; 
  padding-top: 10px;
}

.input-textbox, #input-textbox-2 {
  width: 80%;
  margin: 10px auto; 
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

#input-textbox-2 {
  height: 160px; 
}

.events-map {
  width: 100%;
  height: 300px;
}

.create-eventt-button-container {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.create-eventt-button {
  width: 90%; 
  max-width: 446px; 
  margin: 0 auto; 
  height: 80px;
  border-radius: 20px;
  background: #5908BF;
  color: white;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  gap: 10px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.category-item:hover {
  transform: scale(1.1); 
}
.category-icon {
  font-size: 40px; 
  color: black; 
  transition: color 0.3s ease-in-out; 

  
}
.selected .category-icon {
  color: purple; 
}
.category-name{
  text-align: center;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    
  }
  .events-header, .info-header, .label-text {
    font-size: 1.25rem; 
  }

  .events-map {
    height: 300px; 
  }
}

@media (max-width: 1024px) {
}
