.search-page-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container {
    text-align: center;
}

.search-header {
    font-size: 50px;
}

.search-container p {
    font-size: 20px;
    color: #6e6e6e;
}

.search-form {
    margin-top: 70px;
    width: 95%;
    border: 2px solid #5908bf;
    border-radius: 2em;
    overflow: hidden;
    font-size: 1rem;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 5px;
  }
  
  .search-form:focus-within {
    box-shadow: 2px 2px 2px darkgray;
  }
  
  .search_btn,
  .search_input {
    background-color: #fff;
    border: none;
    outline: none;
  }
  
  .search_input {
    padding: 1em;
    width: 90%;
  }
  
  .search_btn {
    width: 10%;
    font-size: 1.5rem;
    padding-right: 0.5em;
    color: #5908bf;
    display: grid;
    place-content: center;
  }

  .users-section {
    justify-content: left;
    margin: 100px;
  }
  

  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  select {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #5908bf;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  select option {
    font-size: 14px;
    color: #5908bf;
  }
  
  .sp-result-btn {
    margin-top: 10px;
    border: 2px solid var(--mainpurple);
    border-radius: 100px;
    width: 200px;
    height: 50px;
    color: var(--mainpurple);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
  }

  .sp-result-btn:hover {
    background-color: var(--mainpurple);
    color: #FFF;
  }

  .sp-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  .sp-results-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    white-space: nowrap;
  }


  