.user-card-item {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),  
    1px -1px 0 rgba(0, 0, 0, 0.5),
   -1px 1px 0 rgba(0, 0, 0, 0.5),
    1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  .user-card-item:hover {
    transform: scale(1.1);
  }
  
  .info-box {
    padding-top: 290px;
    padding-left: 20px;
  }
  
  .item-fullname {
    font-size: 23px;
    color: white;
  }
  
  .item-hobbies-count {
    color: white;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
  }
  
  .users-section-header {
    font-size: 25px;
    font-weight: bold;
  }