.first-section {
  background-color: #FFFF;
  height: auto;
}

.container {
  display: flex;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-top: 100px;

}

.left,
.right {
  flex: 1;
}


.fullscreenImg {
  width: 100%;
  height: 100vh;
}

.section-title {
  padding-top: 20vh;
  padding-left: 100px;
  font-size: 1.3em;
}

.section-title h3 {
  margin: 0;
}

.section-text {
  font-size: 0.9em;
  padding-left: 100px;
  padding-top: 60px;
  padding-right: 200px;
}

.section-title2 {
  color: #FFFF;
  padding-top: 20vh;
  padding-left: 100px;
  font-size: 50px;

}

.section-text2 {
  font-size: 20px;
  padding-left: 100px;
  padding-top: 60px;
  padding-right: 200px;
  color: #FFFF;
}

.section-filled-btn {
  background-color: var(--mainpurple);
  border-radius: 100px;
  width: 300px;
  height: 70px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}



.section-outline-btn {

  border: 2px solid var(--mainpurple);
  border-radius: 100px;
  width: 300px;
  height: 70px;
  color: var(--mainpurple);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.section-outline-btn:hover {
  background-color: var(--mainpurple);
  color: #FFF;
}


.second-section {
  background-color: #F5F5F5;
  height: auto;
}

.card {
  height: 400px;
  width: 500px;
  background-color: #FFFF;
  border-radius: 20px;
  transition: all 0.5s;
  margin-bottom: 50px;
  max-height: 400px;
}

.card:hover {
  transform: scale(1.2);
}

.card-title {
  color: var(--mainpurple);
  font-size: 30px;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.card-text {
  padding: 50px;
  overflow-y: auto;
  max-height: 200px;
}

.cards-container {
  padding: 100px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.third-section {
  background-color: var(--mainpurple);
  height: auto;
}

.footer {
  background-color: #212020;
  height: 30vh;
  
}

.footer-title {
  color: #FFFF;
  font-size: 40px;
  font-weight: bold;
  padding-top: 70px;
  padding-left: 100px;
}

.footer-text {
  color: #FFFF;
  padding-top: 10px;
  padding-left: 100px;
}

.footer-links {
  padding-left: 90px;
  padding-top: 30px;
  display: flex;

}


.footer-icon>* {
  height: 45px;
  width: 45px;
  color: white;
}

.footer-icon {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
}

.footer-icon:hover {
  transform: scale(1.2);
}


@media only screen and (max-width: 1100px) {

  .first-section,
  .second-section,
  .third-section,
  .footer {
    height: auto;
  }

  .third-section {
    padding-bottom: 100px;
  }

  .footer {
    padding-bottom: 50px;
  }


  .container {
    flex-direction: column;
  }

  .buttons-container {
    flex-direction: column;
    padding: 20px;
  }

  .left,
  .right {
    padding: 10px;
  }

  .fullscreenImg {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .section-title,
  .section-title2,
  .section-text,
  .section-text2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .section-title,
  .section-title2 {
    padding-top: 100px;
    font-size: 1.3em;
  }

  .section-outline-btn,
  .section-filled-btn {

    margin-bottom: 20px;
    width: 150px;
    height: 50px;
  }

  .cards-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .card {
    width: 85%;
    transition: all 0.5s;
    margin-bottom: 20px;
  }



  .footer-title,
  .footer-text,
  .footer-links {
    text-align: center;
    padding-left: 0;
  }

  .card-title {
    font-size: 1.2em;
  }
}