.first-section {
    background-color: #FFFF;
    height: 100vh;
}

.container {
  display: flex;
}

.buttons-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-left: 100px;
  padding-top: 100px;
  
}

.left, .right {
  flex: 1;
  padding: 10px;
  
}

.fullscreenImg {
    margin: -1%;
    width: 50vw;
    height: 100vh;
}

.section-title {
    padding-top: 20vh;
    padding-left: 100px;
    font-size: 58px;
}

.section-text {
font-size: 24px;
padding-left: 100px;
padding-top: 60px;
padding-right: 200px;
}

.section-title2 {
    color: #FFFF;
    padding-top: 20vh;
    padding-left: 100px;
    font-size: 58px;

}

.section-text2 {
font-size: 24px;
padding-left: 100px;
padding-top: 60px;
padding-right: 200px;
color: #FFFF;
}

.section-filled-btn {
  background-color: var(--mainpurple);
  border-radius: 100px;
  width: 300px;
  height: 70px;
  color: #FFF;
  display: flex; 
  justify-content: center;
  align-items: center; 
}



.section-outline-btn {
  
  border: 2px solid var(--mainpurple); 
  border-radius: 100px;
  width: 300px;
  height: 70px;
  color: var(--mainpurple); 
  display: flex; 
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.section-outline-btn:hover {
  background-color: var(--mainpurple); 
  color: #FFF; 
}


.second-section {
    background-color: #F5F5F5;
    height: 120vh;
}

.card {
    height: 500px;
    width: 400px;
    background-color: #FFFF;
    border-radius: 20px; 
    transition: all 0.5s;
}

.card:hover {
  transform: scale(1.2);
}

.card-title {
    color: var(--mainpurple); 
    font-size: 30px;
    padding-top: 60px;
    padding-left: 50px;
}

.card-text {
    padding: 50px;
}

.cards-container {
padding: 200px;
  display: flex;
  gap: 200px;
}

.third-section {
    background-color: var(--mainpurple);
    height: 100vh;
}

.footer {
    background-color: #212020;
    height: 30vh;
    width: 100vw;
}

.footer-title {
    color: #FFFF;
    font-size: 40px;
    font-weight: bold;
    padding-top: 70px;
    padding-left: 100px;
}

.footer-text {
    color: #FFFF;
    padding-top: 10px;
    padding-left: 100px;
}

.footer-links {
    padding-left: 90px;
    padding-top: 80px;
    display: flex;
    
}


.footer-icon > * {
  height: 45px;
  width: 45px;
  color: white;
}
.footer-icon {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
}

.footer-icon:hover {
  transform: scale(1.2);
}