.chat-page {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}

.chat-clouds-section{
    flex-basis: 25%;
    flex-direction: column;
    background-color: #FFFFFF;
    display: flex;
}

.chat-messages-section{
    flex-basis: 75%;
    background-color: #F5F5F5;
    display: flex;
}



