.chat-page {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: flex-start;
}

.chat-clouds-section{
    flex-basis: 20%;
    flex-direction: column;
    background-color: #FFFFFF;
    display: flex;
}

.chat-messages-section{
    flex-basis: 80%;
    background-color: #F5F5F5;
    flex-direction: column;
    align-items: stretch;
    display: flex;
}



