.event-battler-item-cont {
  padding: 15px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
}

.event-battle-item-1,
.event-battle-item-2,
.event-battle-item-3,
.event-battle-item-4,
.event-battle-item-5 {
  text-align: center;
  flex: 1; /* Ustawiono flex: 1, aby elementy miały równą szerokość */
  min-width: 0;
}

@media only screen and (max-width: 600px) {
  .event-battler-item-cont {
    flex-direction: column;
    justify-content: flex-start;
  }
}
