.profile-page-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;

}

.profile-page-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* img {
  border-radius: 100%;
  height: 100%;
  width: 70%;
} */
.profile-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: 22vw;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-desc-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-item {
  padding: 5px;
  margin: 0 10px 0 10px;
}

.edit-profile-btn {
  background-color: white;
  padding: 10px 50px;
  border-radius: 100px;
  border-color: black 1px;
  border-style: groove;
  margin-top: 20px;
  cursor: pointer;
}