.events-card-profile > ul {
  margin: 20px 20px 20px 20px;
  padding: 20px;
}

.events-profile-card {
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 48px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 15px 48px -10px rgba(66, 68, 90, 1);
  box-shadow: 0px 15px 48px -10px rgba(66, 68, 90, 1);
  padding: 20px;
}

.events-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.events-item {
  align-self: center;
  text-align: center;
  flex-basis: 15%;
}
.events-item-icon {
  flex-basis: 20%;
  text-align: center;
}
.events-item-data {
  flex-basis: 30%;
  text-align: center;
}
.events-item-name {
  flex-basis: 20%;
  text-align: center;
}
.style-list-elem {
  padding: 5px;
}
.events-hobbies-items {
  padding: 5px;
  flex-basis: 25%;
}
.events-card > h2 {
  padding-left: 40px;
  padding-top: 20px;
}
.cell-bottom-border {
  border-bottom: 1px solid #b0acac;
  border-radius: 5px;
}
.cell-bottom-border:hover {
  background-color: rgb(231, 231, 231);
}
.text-color {
  color: #b0acac;
}

.events-title {
  margin-left: 40px;
}

/* cell */

.cell-image {
  height: 120px;
  width: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cell-text-container {
  margin-top: 55px;
  margin-left: 60px;
}

.cell-container {
  display: flex;
}

.cell-event-name {
  font-size: 18px;
  font-weight: bold;
  color: var(--mainpurple);
}

.cell-event-location {
  font-size: 18px;
  margin-top:2px;
  color: black;
}

.cell-event-time {
  margin-top: 10px;
  color: gray;
}

.event-cell-container a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .cell-image { 
    margin-bottom: 0px;
  }

  .cell-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cell-text-container {
    margin-top: 30px;
    margin-left: 15px;
  }
}