.description-wrapper {
  display: flex;
  justify-content: space-around;
}
.profile-desc {
  -webkit-box-shadow: 0px 15px 48px -10px rgb(169, 166, 166);
  -moz-box-shadow: 0px 15px 48px -10px rgba(66, 68, 90, 1);
  box-shadow: 0px 15px 48px -10px rgb(168, 170, 191);
}
.profile-card {
  height: 45vh;
}

.profile-card {
  -webkit-box-shadow: 0px 15px 48px -10px rgb(169, 166, 166);
  -moz-box-shadow: 0px 15px 48px -10px rgba(66, 68, 90, 1);
  box-shadow: 0px 15px 48px -10px rgb(168, 170, 191);
}
.second-row-wrapper {
  display: flex;
  justify-content: space-around;
}
.profile-event-wrapper {
  margin-top: 5%;
  flex-basis: 45%;
  justify-content: center;
  align-items: center;
}
.profile-hobbies-wrapper {
  margin-top: 5%;
  flex-basis: 45%;
  justify-content: center;
  align-items: center;
}
