.event-battler-cont {
  width: 800px;
  height: 1200px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
