.google-api-view {
  width: 87%;
}
.google-api-places-view-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 400px;
  margin: auto;
  max-height: 500px;
  overflow-y: scroll;

  margin: 10px;
}
.event-places-cont-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.event-battler-not-found {
  text-align: center;
}
