:root {
  --mainpurple: #5908bf;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
:root::-webkit-scrollbar,
:root::-webkit-scrollbar-horizontal {
  width: 12px;
}

:root::-webkit-scrollbar-track,
:root::-webkit-scrollbar-track-horizontal {
  background: rgb(226, 226, 226);
}

:root::-webkit-scrollbar-thumb,
:root::-webkit-scrollbar-thumb-horizontal {
  background-color: var(--mainpurple);
  border: 3px solid var(--mainpurple);
}
