.event-battler-one-cont {
  background-color: rgba(7, 7, 48, 0.541);
  width: 100%;
  height: 75vh;
  color: white;
  font-size: 1.75em;
  border-radius: 20px;
}
.event-battler-one-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.event-battler-waiting-dots {
  font-size: 4em;
  animation: dots-animation 2s ease infinite;
}
.event-battler-one-item {
  width: 70%;
  text-align: center;
}
@keyframes dots-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
