.hobbies-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.608);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.add-hobby-text {
  margin: 15px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.hobbies-form {
  max-width: 90vw;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 20px;
  background-color: white;
  margin: auto;
}

.close-modal {
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: xx-large;
  cursor: pointer;
}

.modal-input {
  width: 300px;
  height: 50px;
  font-size: xx-large;
}

.hobbies-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sel-hobbies-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sel-hobbies-item {
  border: var(--mainpurple) solid 3px;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-send-btn {
  color: white;
  background-color: var(--mainpurple);
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(18, 8, 28);
  border-width: 15px;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 15px;
  cursor: pointer;
}

.hobbies-added-items {
  text-align: center;
  width: 100%;
}

.hobbies-items {
  text-align: center;
  width: 100%;
}

.hobbies-prf-icon {
  color: var(--mainpurple);
}
