.desc-cont {
  background: linear-gradient(90deg, rgb(105, 7, 229), rgb(164, 94, 255));
  color: white;
  padding: 20px;
  height: 45vh;
  font-size: 1.25em;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.desc-links {
  display: flex;
  justify-content: flex-end;
}

.desc-icon > * {
  height: 40px;
  width: 40px;
}
.desc-icon {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
}

.desc-icon:hover {
  transform: scale(1.2);
}
