.battler-container {
  width: 90vw;
  height: 90vh;
  margin: auto;
  vertical-align: middle;
}
.battler-chat-container {
  height: 50vh;
}
@media only screen and (max-width: 1150px) {
  .battler-container {
    display: flex;
    flex-direction: column;
  }
}
.battler-window-chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}
.battler-flex-window-item {
  flex-basis: 60%;
  max-width: 1000px;
}
.battler-flex-chat-item {
  flex-basis: 30%;
  height: 50vh;
}
