.google-square-cont {
  margin: 20px;
  width: 100px;

}
.google-square-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.google-square-header {
}
.google-square-adress {
  font-size: 0.7em;
}
.google-square-adress-item {
}
.google-square-rating {
}
